
        <footer class="container animated fadeIn">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="row my-1">
                        <div class="col-12 text-center">
                            <div id="lastfm"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            Desde mi blog: <span id="blog"></span>
                        </div>
                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-end">
                            Hola desde Chihuahua, México. 👋
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-lg-5 copyright">
                            &copy; 2014-{{ 'now' | date: "%Y" }} {{ site.author }}
                        </div>
                        <div class="col-12 col-lg-7 version text-md-right">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="https://m.do.co/c/03bd95f889e7" class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="Deployed on DigitalOcean">Deployed on <i class="fab fa-digital-ocean"></i> DigitalOcean</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="/privacidad" class="badge badge-dark" data-toggle="tooltip" data-placement="top" title="Privacidad">Privacidad</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)" class="badge badge-success" data-toggle="tooltip" data-placement="top" title="{{ site.title }} v{{ site.version }} (All systems operational)">{{ site.version }}</a>
                                </li>
                                <li class="list-inline-item twitter-follow-btn">
                                    <a href="https://twitter.com/{{ site.twitter_username }}" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @{{ site.twitter_username }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- /Wrapper for mmenu -->

    <a href="#0" class="cd-top">Top</a>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    {% javascript_asset_tag global %}
    - /assets/js/vendor/modernizr-2.6.2.min.js
    - /assets/js/bootstrap.min.js
    - /assets/js/jquery.mmenu.min.all.js
    - /assets/js/twitter-fetcher.js
    - /assets/js/lastfm.jquery.js
    - /assets/js/jquery.rss.min.js
    - /assets/js/plugins.js
    - /assets/js/main.js
    {% endjavascript_asset_tag %}
    
    <!-- Twitter -->
    <script async defer src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- GitHub -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55422382-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-55422382-1');
    </script>
</body>
</html>