        <footer class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="row my-1">
                        <div class="col-12 text-center">
                            <div id="currently-listening"></div>
                        </div>
                    </div>
                    <div class="row mt-4">
                    {% if page.layout == 'default' %}

                    {% else %}
                        <div class="col-12 text-center">
                            🗞️ Lo último: <span id="blog"></span>
                        </div>
                    {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-lg-5 text-center text-lg-left">
                            <p class="copyright">&copy; {{ 'now' | date: "%Y" }} {{ site.author }}</p>

                            <p>Parte del <a href="https://cs.sjoy.lol/" target="_blank">CSS JOY Webring 🕸️💍</a></p>

                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="btn btn-primary btn-sm" href="https://webri.ng/webring/cssjoy/previous?via=https://{{ site.domain }}" data-toggle="tooltip" data-placement="top" aria-label="Anterior" title="Anterior">
                                        <i class="fa-solid fa-arrow-left"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-primary btn-sm" href="https://webri.ng/webring/cssjoy/random?via=https://{{ site.domain }}" data-toggle="tooltip" data-placement="top" aria-label="Sitio aleatorio" title="Sitio aleatorio">
                                        <i class="fa-solid fa-shuffle"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-primary btn-sm" href="https://webri.ng/webring/cssjoy/next?via=https://{{ site.domain }}" data-toggle="tooltip" data-placement="top" aria-label="Siguiente" title="Siguiente">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>

                            <ul class="list-inline">
                                <li class="list-inline-item me-2">
                                    <a href="/blogroll/">Blogroll</a>
                                </li>
                                <li class="list-inline-item me-2">
                                    <a href="/guestbook/">Guestbook</a>
                                </li>
                                <li class="list-inline-item mb-2">
                                    <a href="/newsletter/">Newsletter</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="/privacidad/">Privacidad</a>
                                </li>
                            </ul>

                            <ul class="list-inline">
                                <li class="list-inline-item me-2">
                                    <a href="https://proven.lol/a5fae9" data-toggle="tooltip" data-placement="top" title="Proof" target="_blank">
                                        <span class="fa-stack small">
                                            <i class="fa-solid fa-check fa-stack-1x fa-inverse" style="--fa-stack-z-index: 2;"></i>
                                            <i class="fa-solid fa-certificate fa-stack-2x" style="--fa-stack-z-index: 1;"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="list-inline-item me-2">
                                    <a href="{{ site.url }}/acerca-de/" data-toggle="tooltip" data-placement="top" data-html="true" title="Acerca de">
                                        <code>Acerca de</code>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://luiscarlospando.com/changelog/" data-toggle="tooltip" data-placement="top" data-html="true" title="Changelog">
                                        <code>v{{ site.version }}</code>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-7 text-center text-lg-right">
                            <ul class="list-inline mt-lg-0">
                                <li class="list-inline-item">
                                    <a href="https://luiscarlospando.instatus.com/" target="_blank" id="site-version" class="badge" data-toggle="tooltip" data-placement="top" data-html="true" title="Estatus de los sistemas">
                                        <span id="system-status"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://vercel.com/" target="_blank" class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="Deployed on Vercel">
                                        Deployed on
                                        <svg aria-label="Vercel logo" fill="#ffffff" viewBox="0 0 75 65" width="14" style="vertical-align: baseline;">
                                            <path d="M37.59.25l36.95 64H.64l36.95-64z"></path>
                                        </svg>
                                        Vercel
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://buymeacoffee.com/luiscarlospando" class="badge badge-warning bmac" data-toggle="tooltip" data-placement="top" title="Buy Me a Coffee" target="_blank">
                                        <i class="fa-solid fa-mug-hot"></i> Buy Me a Coffee
                                    </a>
                                </li>
                            </ul>

                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="/rss/" class="badge badge-rss" data-toggle="tooltip" data-placement="top" title="RSS">
                                        <i class="fa-solid fa-rss"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a rel="me" href="https://{{ site.omglol_username }}.{{ site.domain }}/" target="_blank">
                                        <img src="https://camo.githubusercontent.com/9d4da15b04f17090b553f6c2c07630f9bfb454ffaa12e49b5ca13659578a8741/68747470733a2f2f6f6d672e386269747371752e69642f3f757365723d6d696a6f" alt="omg.lol" data-canonical-src="https://omg.8bitsqu.id/?user=mijo" style="max-width: 100%;">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a rel="me" href="{{ site.discord_profile }}" target="_blank">
                                        <img src="https://dcbadge.limes.pink/api/shield/86571896581132288?style=flat&amp;theme=discord-inverted" alt="" loading="lazy">
                                    </a>
                                </li>
                            </ul>

                            <ul class="list-inline">
                                <li class="list-inline-item mb-2 mb-lg-0">
                                    <a href="https://people.pledge.party/" target="_blank">
                                        <img width="88" height="31" src="{{ site.url }}//assets/images/buttons/People-Pledge-Badge-Cream-Pink.svg" alt="The People Pledge">
                                    </a>
                                </li>
                                <li class="list-inline-item mb-2 mb-lg-0">
                                    <a href="https://echofeed.app/" target="_blank">
                                        <img width="88" height="31" src="{{ site.url }}//assets/images/buttons/powered-by-echofeed-orange-large.svg" alt="Powered by EchoFeed">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://ko-fi.com/s/4662b19f61" target="_blank">
                                        <img src="{{ site.url }}//assets/images/buttons/WrittenByAHuman_04.svg" alt="Written by a human" class="img-fluid">
                                    </a>
                                </li>
                            </ul>

                            <p class="copyright">Saludos desde Chihuahua, México. 🏜️</p>
                        </div>
                        <div class="col-12 text-center">
                            <ul id="social" class="list-inline mt-0">
                                <li class="list-inline-item">
                                    <a rel="me" href="{{ site.mastodon_url }}" data-toggle="tooltip" data-placement="top" aria-label="Sígueme en Mastodon" title="Sígueme en Mastodon" target="_blank">
                                        <i class="fa-brands fa-mastodon"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a rel="me" href="{{ site.bluesky_url }}" data-toggle="tooltip" data-placement="top" aria-label="Sígueme en Bluesky" title="Sígueme en Bluesky" target="_blank">
                                        <i class="fa-brands fa-bluesky"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a rel="me" href="{{ site.instagram_url }}" data-toggle="tooltip" data-placement="top" aria-label="Sígueme en Instagram" title="Sígueme en Instagram" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a rel="me" href="{{ site.signal_url }}" data-toggle="tooltip" data-placement="top" aria-label="Contáctame vía Signal" title="Contáctame vía Signal" target="_blank">
                                        <i class="fa-brands fa-signal-messenger"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dismissable-alert">
                <p>
                    <em>Agosto, 2025</em> - 👋 Actualmente estoy disponible y abierto a nuevas oportunidades como desarrollador frontend.
                    <a class="btn btn-primary btn-sm" href="/cv/">
                        <i class="fa-solid fa-circle-info"></i> Más información
                    </a>
                </p>
                <button id="alert-close" aria-label="Close alert">✕</button>
            </div>
        </footer>
    </div>
    <!-- /Wrapper for mmenu -->

    <div id="back-to-top"></div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered text-center" role="document">
            <div class="modal-content">
                <div class="modal-body modal-body-jekyll">
                    <img class="img-fluid rounded" src="" alt="" loading="lazy" />
                </div>
            </div>
        </div>
    </div>

     <!-- jQuery -->
     <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Plugins -->
    {% javascript_asset_tag global %}
    - /assets/js/clipboard.min.js
    - /assets/js/luxon.js
    {% endjavascript_asset_tag %}

    <!-- /ˈmiːhoʊ/ pronunciation audio -->
    <audio id="pronunciation">
        <source src="/assets/audio/mijo.mp3" type="audio/mpeg">
        Tu navegador no soporta el elemento de audio.
    </audio>

    <!-- App -->
    <script src="/assets/js/app.bundle.js"></script>

    <!-- GitHub -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Instatus -->
    <script src="https://luiscarlospando.instatus.com/widget/script.js"></script>

    <!-- Tinylytics -->
    <script src="https://tinylytics.app/embed/r9xjks1Y65hJnkRx9b8S.js?kudos=❤️&webring=avatars" defer></script>
</body>
</html>
