<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head profile="http://gmpg.org/xfn/11" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.url == "/" %}{% else %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <!--
    ================================================================================
    === {{ site.title }} v{{ site.version }} =================================================
    ================================================================================
                                        ``..------..``                                           
                                .:+osyyyhhhhhhhyyss+:-`                                      
                            ./syhhhhhhhdddddddddddhhhyo:`                                   
                            `:oyhhhhdddddddddddddddddddddhhy+-                                 
                        ./shhhddddddddddddddddddddddddddddhyo-                               
                        `/yhhdddddddddddddddddddddddddddddddddhho.                             
                    -shhdddddddddddddddddddddddddhddddddddddhhy:                            
                    `+yhdddddddddddhddddddddddddddhyhdddddddddddhh+`                          
                    `syhhddddddddddhhhdddddddddddds/shhdddddddddddhhs`                         
                `shyhdddddddddddhosddddddddddds.`.ohhdddddddddddhhs`                        
                /hdhhdddddddddhy+`odddddddmmd+`````/yhddddmmmdddhdh+                        
                .yhdhdddddddddhy:``odddddmmmy-```````:yhdmmmmmmddhdhy.                       
                +hddhddddddddhs.```oddmmmmd+``````````-shdmmmmmmdhddh+                       
                `yhmmhdddmmmdh+`````+dmmmdo.````````````.+hdmmmmmdhddhy`                      
                -hdmmdddmmmmho://+oshmmdo.``````.syyso++/:ohmmmmmddmddh-                      
                /hmmmmhddmmhhddddddddmdh-``````-ydddddddddddhmmmddmmddh+                      
                ohmmmmo/ddy-.---:://++ooo.````.ooo+++//::----ymd+ommmdho                      
                shmmmm-`:s.``:shdmmdhs:``````````:shmNNmhs/..-y/.:dmmdds                      
                sdmmmy`````:dh/sNMMNs/hd:``````:dh/sNMMNy+hd:.....ymmddy                      
                sdmmmo``.``:/`.mMMMMN``//``````//`.NMMMMN..+/.....ommmds                      
                odmmmy``...````/hmmh/`````/:```````/dNNd/.........ymmmds                      
                +dmmmm-`....````....`````-N:````````.............:dmmmd+                      
                :dmmmmo`......``````````.hy````````...........-..ommmmd:                      
                `hmmmmd-`.......```````.ds```.```............-..:dmmmmh`                      
                smmmddy.`.........````.N+-................---..yddmmms                       
                :dddddds...........--:/ymhy/.++//::/.....---..sdddddd:                       
                `s+sdddds......:+syhhdddd:..-dddddhhs+:----..sdddds+s`                       
                ` .ddddds-..ohdddddssyyyooooyyyysdmdddho-.-sddddd. `                        
                    odddddh+-/yy+:+hy++++++++++++yh+:+yh/-+hdddddo                           
                    `hddddddy+-....-:ohdmmNNmmdho/-----:+yddddddh`                           
                    :ddddddddyo:---...--::::--..---:/ohdddddddd:                            
                        sdhddddddddyyys:...-//-.--:syyhddddddddhds                             
                        `hdhhddddddddddhsoohddhsoshdddddddddddhdh`                             
                        .dmddddddddmmmddddmmmmdddmmmmmmmdddddmd-                              
                        :dmdyhdddmmmmmmmmmmmmmmmmmmmmmmdhydmd:                               
                        :y: `:ohdmmmmmmmmmmmmmmmmmmdho:` :y/                                
                                `oddddddddmmdddddmddo`                                       
                                -hhhhhhhhhddhhhhhhhhh-                                       
                                `yhhhhhhhhhhhhhhhhhhhhy`                                      
                                shhhhhhhhhhhhhhhhhhhhhhs                                      
                                /hhhhhhhhhhhhhhhhhhhhhhhh/                                     
                            -hhhhhyhhhhhhhhhhhhhhyhhhhh-                                    
                            `shhhhyshhhhhhhhhhhhhhsshhhhy`
    ================================================================================
    =================================================== © {{ 'now' | date: "%Y" }} {{ site.author }} ===
    ================================================================================
    -->

    <!-- Meta Tags -->
    <meta name="robots" content="index, follow" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="author" content="{{ site.author }} (@{{ site.twitter_username }})" />
    <meta name="copyright" content="© {{ 'now' | date: '%Y' }} {{ site.author }}" />
    <meta name="email" content="{{ site.email }}" />
    <meta name="distribution" content="global" />
    <meta name="language" content="es-MX" />
    <meta name="ICBM" content="28.6189208162, -106.101984179" />
    <meta name="DC.title" content="{{ site.title }}" />
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    <meta name="twitter:domain" content="{{ site.domain }}">
    <meta name="twitter:url" content="{% if page.url == "/" %}{{ site.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}">
    <meta name="twitter:title" content="{% if page.url == "/" %}{% else %}{{ page.title }} - {% endif %}{{ site.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    <meta name="twitter:widgets:theme" content="dark">
    <meta name="twitter:widgets:link-color" content="#ff4081">
    <meta name="twitter:widgets:border-color" content="#ff4081">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{% if page.url == "/" %}{% else %}{{ page.title }} - {% endif %}{{ site.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% if page.url == "/" %}{{ site.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}" id="og-url"/>
    <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
    <meta property="fb:admins" content="658977014" />
    <meta property="article:author" content="https://www.facebook.com/658977014" />
    <meta property="article:publisher" content="https://www.facebook.com/luiscarlospandodotcom" />
    <meta property="og:locale" content="es_LA" />
    <meta property="fb:app_id" content="306406826220378" />

    <!-- Facebook Instant Articles -->
    <meta property="fb:pages" content="293097547553284" />

    <!-- Flattr -->
    <meta name="flattr:id" content="qjnrvx">

    <link rel="author" href="/humans.txt" />
    <link href="https://plus.google.com/+LuisCarlosPando" rel="publisher" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    {% css_asset_tag global %}
    - /assets/css/jquery.mmenu.all.css
    - /assets/css/jquery.mmenu.themes.css
    - /assets/css/animate.css
    - /assets/css/prism.css
    {% endcss_asset_tag %}
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="canonical" href="{{ site.url }}">
    <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--[if lt IE 10]>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 alert alert-danger">
                    <p>Lo siento, este sitio no es compatible con un <strong>navegador obsoleto</strong> como Internet Explorer. Recomiendo que te tomes el tiempo de <a class="alert-link" href="https://browsehappy.com/">actualizarlo</a> o cambiar a otro navegador más actual para mejorar tu experiencia en Internet.</p>
                </div>
            </div>
        </div>
    <![endif]-->
    
    <progress value="0"></progress>

    <!-- Wrapper for mmenu -->
    <div>
        <div class="nav-container">
            <div class="burger">
                <a id="burger-btn" href="#menu">
                    <span></span>
                </a>
            </div>
        </div>
        <div class="burger">
            <a class="desk-button" id="burger-btn" href="#menu">
                <span></span>
            </a>
        </div>
        <!-- Nav menu -->
        <div id="navigation"></div>
        <!-- /Nav menu -->

        <header class="container animated fadeInDown">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 d-flex align-items-center">
                            <div class="mt-3 mb-1" id="logo">
                                <a href="/" data-toggle="tooltip" data-placement="right" title="" data-original-title="Sígueme en Twitter: @{{ site.twitter_username }}">
                                    <span>Logo</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 d-flex align-items-center flex-wrap">
                            <div id="last-tweet"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>