a {
    img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        color: $secondaryColor !important;
    }
}

// img {
//     margin-bottom: 14px !important;
// }

p#category {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin: 1.67em 0 -24px;
    text-transform: uppercase;
    position: relative;
    top: 4px;

    span {
        font-size: 85%;
    }

    a {
        color: $secondaryColor;
    }
}

.post-details {
    font-size: 10pt;
    font-style: italic;
    position: relative;
    top: -6px;
}

.card {
    margin-bottom: 16px;
}

.hashtag-list {
    .badge {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 10pt;
        line-height: 2em;
        padding: 0em 0.8em;
    }

    a,
    a:hover {
        color: #fff;
    }
}

.comments-button-container {
    width: 100%;
    float: left;
    margin: 20px 0 30px;
    font-family: 'Poppins', sans-serif;

    button {
        color: #555;
        border-color: #adadad;
    }

    button:hover {
        color:#555;
        background-color: #e6e6e6;
        border-color: #adadad;
    }
}

.follow p, 
.primary_navigation p, 
p.latest-post {
    font-size: 11pt;
}

.pagination {
    display: block !important;
    font-size: 12pt;
    text-align: center;
    margin: 20px 0;
}

.footnotes {
    .footnotedivider {
        background-color: rgb(238, 238, 238);
        height: 1px;
        width: 20%;
    }

    ol {
        font-size: 11pt;
        margin-top: 15px;
    }
}

.twitter-tweet {
    margin: 10px auto 14px !important;
}

.aligncenter,
div.aligncenter {
    margin: 0 auto;
    // display: flex;
    justify-content: center;
    align-items: center;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

img.alignleft {
    margin-right: 30px;
}

img.alignright {
    margin-left: 30px;
}

.wp-caption.alignleft {
    margin: 0 20px 0 0 !important;
}

.wp-caption.alignright {
    margin: 0 0 0 20px !important;
}

.wp-caption.aligncenter {
    margin: 12px auto 0 !important;
}

.wp-caption {
    background: transparent !important;
    border: none !important;
    max-width: 100% !important;
    padding: 0 !important;
    text-align: center !important;

    img {
        border: 0 none;
        height: auto;
        margin: 0 auto 20px !important;
        max-width: 98.5%;
        padding: 0;
        width: auto;
        max-width: 100% !important;
    }

    .wp-caption-text {
        color: $mainColor !important;
        font-size: 10pt !important;
        font-style: italic;
        line-height: 18px !important;
        margin: 0;
        position: relative;
        top: -10px;
    }
}

.gallery-caption {
    color: #999 !important;
    font-size: 10pt !important;
    font-style: italic;
    line-height: 17px !important;
    margin: 0 0 0px !important;
    padding: 3px 0 0 !important;
}

.old-post-notification {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

iframe.instagram-media {
    margin: 10px auto 14px !important;
}

.fb_iframe_widget {
    display: block !important;
    position: relative;
    margin: 20px auto 20px;
    width: 55% !important;
}

.tag-cloud-link {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff !important;
    background-color: #007bff;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.tag-cloud-link::before {
    content: '#';
}