
footer {
    font-size: 11pt;

    #lastfm {
        border: 1px solid $transparentGray;
        border-radius: .25rem;
        padding: 16px 14px 15px;
        margin: 0 0 1rem;

        p {
            margin: 0;
        }
    
        ul {
            list-style-type: none;
            margin: 0 !important;
            padding: 0;
        }
    
        div {
            display: inline;
        }
    
        .track {
            background: url('../images/icon_eq.gif') no-repeat;
            background-position: 0 3px;
            padding-left: 20px;
        }
    
        .track::before {
            content: '“';
        }
        
        .track::after {
            content: '” ';
        }
        
        .track:first-child::after {
            content: '" ';
        }
    
        .album {
            font-style: italic;
        }
    }

    .twitter-follow-btn {
        position: relative;
        top: 5px;
    }

    .version {
        ul {
            margin-top: 0;
        }

        .badge {
            font-size: 100%;
        }
    }
}