// encoding: UTF-8

/* ==========================================================================
   NAVIGATION BASE
   ========================================================================== */

#navigation {
    font-family: "Raleway", sans-serif;

    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none !important;

        li p {
            margin: 0;
        }
    }

    /* Avoiding mmenu FOUC */
    &:not(.mm-menu) {
        display: none;
    }
}

/* ==========================================================================
   MMENU STYLING
   ========================================================================== */

.mm-menu {
    background-color: $navMenuBgColor;
    color: $mainColor;

    .mm-header,
    .mm-footer {
        color: $mainColor;
    }
}

.mm-list {
    font-size: 16px;

    > li {
        > a,
        > span {
            &:hover,
            &:focus {
                color: $linkColor !important;
            }
        }

        &:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(
                .mm-noresults
            ):after {
            border-color: $componentBorderColor;
        }
    }
}

.mm-footer {
    background-color: $navFooterBgColor;
    font-size: 0.8125rem;
    height: auto;
    padding: 10px;
}

/* ==========================================================================
   SEARCH INPUT
   ========================================================================== */

.mm-search input[type="text"],
.mm-search input[type="email"],
.mm-search input[type="password"] {
    background-color: $fifthColor;
    border-radius: $borderRadius;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    font-family:
        "SFMono-Regular",
        Menlo,
        Monaco,
        Consolas,
        Liberation Mono,
        Courier New,
        monospace;
    width: 100%;
    padding: 0 10px;
}

/* ==========================================================================
   PAGE LAYOUT
   ========================================================================== */

.mm-page {
    padding: 30px 0;
}

html.mm-opened .mm-page {
    box-shadow: none;
}
