*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background: $secondaryColor;;
    color: #fff;
}

::-moz-selection {
    background: $secondaryColor;
    color: #fff;
}

body {
    font-family: 'Libre Baskerville', serif;
    line-height: 180%;
    font-size: 12pt;
    color: $mainColor;
}

a,
a:link,
a:visited,
a:active {
    color: $linkColor;
    text-decoration: none;
    border-bottom-style: none;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a {
    outline: 0 !important;
}

a:hover,
a:focus {
    color: $mainColor;
    text-decoration: underline;
}

ol,
ul {
    margin-bottom: 16px !important;
}

ol {
    font-size: 12pt;
    line-height: 180%;
    padding: 0 2.5em;
}

ul {
    margin-top: 16px;
    list-style-type: disc;
    line-height: 180%;

    li {
        p {
            margin: 0;
        }

        ul {
            list-style-type: circle;
	        margin-top: 0;
        }
    }
}

audio {
    width: 100%;
    margin: 12px 0 0 0;
}

video {
    width: 100%;
}

blockquote {
    font-family: 'Poppins', sans-serif;
    margin: 0 40px;
    padding: 10px 20px;
    font-size: 22px;
    border-left: 5px solid #eee;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: $headings-lh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: $secondaryColor;

    a {
        color: $secondaryColor;
    }
}

h1,
h2,
h3 {
    letter-spacing: -2px;
}

h4,
h5,
h6,
blockquote {
    letter-spacing: -1px;
}

h1 {
    font-size: 38px;
    margin: 0.67em 0 0.17em !important;
}
  
h2 {
    font-size: 32px;
    margin: 0.67em 0 0.13em !important;
}
  
h3 {
    font-size: 26px;
}
  
h4 {
    font-size: 20px;
}
  
h5 {
    font-size: 16px;
}
  
h6 {
    font-size: 14px;
}

.card-header,
.card-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}

.text-muted {
    color: #777 !important;
}

.nav-container {
    display: none;
}

.burger {
    a {
        display: block;
        width: 40px;
        height: 36px;
        margin: 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    #burger-btn span,
    #burger-btn:before,
    #burger-btn:after {
        background-color: $secondaryColor;
        content: "";
        display: block;
        height: 6px;
        left: 5px;
        margin: 6px 0;
        position: relative;
        width: 30px;
    }

    #burger-btn:before {
        margin-top: 0;
    }
}

 .cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(29, 47, 58, 0.6) url('../images/cd-top-arrow.svg') no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
  
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
  
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}
  
.cd-top.cd-fade-out {
    opacity: .5;
}

.first-letter {
    float: left;
    font-size: 80px;
    line-height: 60px;
    padding: 13px 8px 0 0;
}

.badge {
    font-family: 'Source Sans Pro', sans-serif;
}

a.badge {
    color: #fff;
}

.subtitulo {
    margin: 0px 0 14px !important
}

progress {
	/* Positioning */
	position: fixed;
	left: 0;
	top: 0;

	/* Dimensions */
	width: 100%;
	height: 2px;

	/* Reset the appearance */
	-webkit-appearance: none;
	 -moz-appearance: none;
	      appearance: none;

	/* Get rid of the default border in Firefox/Opera. */
	border: none;

	/* Progress bar container for Firefox/IE10+ */
	background-color: transparent;

	/* Progress bar value for IE10+ */
    color: $linkColor;
    
    z-index: 2;
}

progress::-webkit-progress-bar {
	background-color: transparent;
}

progress::-webkit-progress-value {
	background-color: $linkColor;
}

progress::-moz-progress-bar {
	background-color: $linkColor;
}