*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background: $transparentGray;
    color: $fourthColor;
}

::-moz-selection {
    background: $transparentGray;
    color: $fourthColor;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Libre Baskerville', serif;
    font-size: 12pt;
    color: $mainColor;
    background-color: $bgColor1;
    background-image: linear-gradient(141deg, $bgColor1 0%, $bgColor2 60%, $bgColor1 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $mainColor;
    line-height: 180%;
    margin: 0;
}

a,
a:link,
a:visited,
a:active,
a.alert-link {
    color: $linkColor;
    text-decoration: none;
    border-bottom-style: none;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a {
    outline: 0 !important;

    &:hover,
    &:focus,
    &.alert-link:hover,
    &.alert-link:focus {
        color: $hoverColor;
        text-decoration: underline;
        text-decoration-color: $underlineColor;
    }

}

ol,
ul {
    margin-bottom: 16px !important;
}

ol {
    font-size: 12pt;
    line-height: 180%;
    padding: 0 2.5em;
}

ul {
    margin-top: 16px;
    list-style-type: disc;
    line-height: 180%;

    li {
        p {
            margin: 0;
        }

        ul {
            list-style-type: circle;
	        margin-top: 0;
        }
    }
}

hr {
    border-top: 1px solid $transparentGray;
}

audio {
    width: 100%;
    margin: 12px 0 0 0;
}

video {
    width: 100%;
}

blockquote {
    font-family: 'Raleway', sans-serif;
    margin: 0 40px;
    padding: 10px 20px;
    font-size: 22px;
    border-left: 5px solid $fifthColor;
    line-height: 1.4em;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: $headings-lh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    // font-family: 'Poppins', sans-serif;
    color: $mainColor;

    a {
        color: $mainColor;

        &:hover,
        &:focus {
            text-decoration-color: $mainColor;
        }
    }
}

h1,
h2,
h3 {
    letter-spacing: 0px;
    // letter-spacing: -2px;
}

h4,
h5,
h6,
blockquote {
    letter-spacing: 0px;
    // letter-spacing: -1px;
}

h1 {
    font-size: 42px;
    // font-size: 38px;
    margin: 0.67em 0 0.17em !important;
}
  
h2 {
    font-size: 36px;
    // font-size: 32px;
    margin: 0.67em 0 0.13em !important;
}
  
h3 {
    font-size: 30px;
    // font-size: 26px;
}
  
h4 {
    font-size: 24px;
    // font-size: 20px;
}
  
h5 {
    font-size: 20px;
    // font-size: 16px;
}
  
h6 {
    font-size: 18px;
    // font-size: 14px;
}

header,
.site-body,
footer {
    opacity: 0;
}

.card {
    background-color: #000;
    border: 1px solid $fifthColor;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $fifthColor;
    }

    .card-header,
    .card-footer {
        p {
            margin: 0;
        }
    }

    .card-footer {
        background-color: $cardFooterBgColor;
    }

    .input-group {
        width: 100%;

        p {
            width: 68%;
        }

        .form-control {
            font-family: "Liberation Mono", "Courier New", monospace;
            font-size: 1.5rem;
            background-color: transparent;
            border: 1px solid $fifthColor;
            color: $linkColor;
        }

        .btn-outline-secondary {
            color: $linkColor;
            border-color: transparent;
        }

        .btn-outline-secondary:hover,
        .btn-outline-secondary:focus {
            color: $linkColor;
            border-color: transparent;
            background-color: transparent;
        }
    }
}

.last-updated {
    background-color: $cardFooterBgColor;
}

.alert {
    font-size: 11pt;
}

.alert-danger,
.alert-info,
.alert-success,
.alert-warning {
    background-color: #000;
    color: $mainColor;
    border-color: $fifthColor;
}

.alert-link {
    color: $linkColor !important;
}

.card-header,
.card-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}

.card-header {
    border-bottom: 1px solid $fifthColor;
}

.text-muted {
    color: $mainColor !important;
}

.nav-container {
    display: none;
}

.embed-responsive {
    margin-bottom: 14px;
}

.burger {
    a {
        display: block;
        width: 40px;
        height: 36px;
        margin: 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    #burger-btn {
        span,
        &::before,
        &::after {
            background-color: $secondaryColor;
            content: "";
            display: block;
            height: 6px;
            left: 5px;
            margin: 6px 0;
            position: relative;
            width: 30px;
        }

        &::before {
            margin-top: 0;
        }
    }
}

 .cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.9) url('../images/cd-top-arrow.svg') no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
  
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
  
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}
  
.cd-top.cd-fade-out {
    opacity: .5;
}

.first-letter {
    float: left;
    font-size: 80px;
    line-height: 60px;
    padding: 13px 8px 0 0;
}


.badge,
.btn {
    font-family: 'Source Sans Pro', sans-serif;
}

a.badge,
a.btn {
    color: #fff;
}

.stream-status {
    animation-duration: 5s;
}

.btn-primary {
    background-color: $btnBgColor;
    border-color: $btnBorderTextColor;
    border-bottom: 1px solid $btnBorderTextColor !important;
    color: $btnBorderTextColor !important;

    &:hover {
        background-color: $btnBgHoverColor;
        border-color: $btnBorderHoverColor;
        border-bottom: 1px solid $btnBorderHoverColor !important;
        color: $btnTextHoverColor !important;
    }
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 0.10rem .5rem;
}

code {
    background-color: #000;
}

.subtitulo {
    margin: 0px 0 14px !important;
}

progress {
	/* Positioning */
	position: fixed;
	left: 0;
	top: 0;

	/* Dimensions */
	width: 100%;
	height: 2px;

	/* Reset the appearance */
	-webkit-appearance: none;
	 -moz-appearance: none;
	      appearance: none;

	/* Get rid of the default border in Firefox/Opera. */
	border: none;

	/* Progress bar container for Firefox/IE10+ */
	background-color: transparent;

	/* Progress bar value for IE10+ */
    color: $linkColor;
    
    z-index: 2;
}

progress::-webkit-progress-bar {
	background-color: transparent;
}

progress::-webkit-progress-value {
	background-color: $linkColor;
}

progress::-moz-progress-bar {
	background-color: $linkColor;
}