// Colors
$mainColor: #fff;
$secondaryColor: #fff;
$tertiaryColor: darkorange;
$fourthColor: #fff;
$fifthColor: rgba(255,255,255,0.169);
$bgColor1: #0e0f34;
$bgColor2: #0e0f18;
$linkColor: #ff4081;
$hoverColor: rgb(128, 1, 218);
$underlineColor: darkorange;
$transparentGray:rgba(255,255,255,0.169);
$btnBgColor: transparent;
$btnBorderTextColor: #ff4081;
$btnBgHoverColor: transparent;
$btnBorderHoverColor: rgb(128, 1, 218);
$btnTextHoverColor: rgb(128, 1, 218);
$cardFooterBgColor: #111;

// Headings line height
$headings-lh: 1.5;