// Colors
$mainColor: #fff;
$secondaryColor: #fff;
$tertiaryColor: darkorange;
$fourthColor: #fff;
$fifthColor: rgba(255,255,255,0.169);
$sixthColor: #ff4081;
$bgColor1: #0e0f34;
$bgColor2: #0e0f18;
$linkColor: #ff4081;
$hoverColor: rgb(128, 1, 218);
$underlineColor: darkorange;
$transparentGray:rgba(255,255,255,0.169);
$btnBgColor: #111;
$btnBorderTextColor: hsl(210deg, 30%, 12%);
$btnBgHoverColor: hsl(210deg, 30%, 8%);;
$btnBorderHoverColor: hsl(210deg, 30%, 12%);
$cardHeaderBgColor: #111;
$cardBgColor: hsl(210deg, 30%, 8%);
$cardFooterBgColor: transparent;
$cardBorderColor: hsl(210deg, 30%, 12%);
$alertBgColor: hsl(210deg, 30%, 6%);

// Headings line height
$headings-lh: 1.5;