// Colors
$mainColor: hsl(0, 0%, 100%);
$secondaryColor: hsl(0, 0%, 100%);
$tertiaryColor: hsl(33, 100%, 50%);
$fourthColor: hsl(0, 0%, 100%);
$fifthColor: hsla(0, 0%, 100%, 0.169);
$sixthColor: hsl(340, 100%, 63%);

$bgColor1: hsl(238, 58%, 13%);
$bgColor2: hsl(234, 26%, 7%);

$linkColor: hsl(340, 100%, 63%);
$hoverColor: hsl(275, 99%, 43%);
$underlineColor: hsl(33, 100%, 50%);

$transparentGray:hsla(0, 0%, 100%, 0.169);

$btnBgColor: hsl(0, 0%, 7%);
$btnBorderTextColor: hsl(210deg, 30%, 12%);
$btnBgHoverColor: hsl(210deg, 30%, 8%);;
$btnBorderHoverColor: hsl(210deg, 30%, 12%);

$cardHeaderBgColor: hsl(0, 0%, 7%);
$cardBgColor: hsl(210deg, 30%, 8%);
$cardFooterBgColor: transparent;
$cardBorderColor: hsl(210deg, 30%, 12%);

$navMenuBgColor: hsl(0, 0%, 7%);

$alertBgColor: hsl(210deg, 30%, 8%);
$alertBorderColor: hsl(275, 99%, 43%);
$alertIconColor: hsl(0, 0%, 100%);

$headings-lh: 1.5;