// encoding: UTF-8

// Variables to modify font folders
$fa-font-path: "../fonts";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "../css/all.min.css"; // FontAwesome
@import "fonts";
@import "bootstrap";
@import "bootstrap-utilities";
@import "variables";
@import "navmenu";
@import "header";
@import "footer";
@import "styles";
@import "blog";
@import "masonry";
@import "lightrope";
@import "media-queries";
