{% include header.html %}

    <div class="container site-body">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h1 class="text-center">Mis apps favoritas</h1>

                {{ content }}

                <dl class="row">
                    <dt class="col-3">
                        <h3 class="text-right">1Password</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Utilizo 1Password para tener contraseñas distintas y difíciles de descifrar en cada sitio/servicio que utilizo en línea.</p>
                        <a href="https://1password.com/es/" target="_blank">Descargar</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Amphetamine</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Esta pequeña pero útil app me sirve para evitar que mi Mac se suspenda automáticamente. Es muy molesto que me tengo que levantar por unos momentos y regresar para encontrar mi Mac dormida. Amphetamine me ayuda a evitarlo.</p>
                        <a href="https://apps.apple.com/es/app/amphetamine/id937984704?mt=12" target="_blank">Descargar (macOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Discord</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Discord es una aplicación que sirve para conectar comunidades de videojugadores. La app tiene chat de voz y canales de chat. La uso todo los días para estar en contacto con mis amigos en <a href="{{ site.url }}/mode7gg">Mode 7</a>.</p>
                        <a href="https://discordapp.com/" target="_blank">Descargar (macOS)</a> | <a href="https://geo.itunes.apple.com/mx/app/discord-chat-for-gamers/id985746746?mt=8&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Google Home</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Uso Google Home para controlar los dispositivos inteligentes que tengo en mi casa, como mi Smart TV, Chromecast, Google Home, Phillips Hue y cosas así.</p>
                        <a href="https://itunes.apple.com/us/app/google-home/id680819774?mt=8" target="itunes_store">Descargar (iOS)</a>
                        | <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.chromecast.app&hl=es_MX" target="_blank">Descargar
                            (Android)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Hazel</h3>
                        </dt>
                    <dd class="col-9">
                        <p>Nada como tener bien organizados tus carpetas y archivos. Si tienen OCD como yo, esta es la solución.</p>
                        <a href="https://www.noodlesoft.com/Products/Hazel/download" target="itunes_store">Descargar (macOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Hue Sync</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Uso Hue Sync para sincronizar las luces de mi casa con la música que escucho y con lo que veo en TV.</p>
                        <a href="https://www2.meethue.com/es-mx/entertainment/hue-sync" target="_blank">Descargar</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Hyper</h3>
                        </dt>
                    <dd class="col-9">
                        <p>La terminal que viene incluida en Visual Studio Code es muy cómoda y todo, pero prefiero utilizar Hyper, que es una terminal disponible para Mac/Windows/Linux, justo lo que necesito en mi día a día.</p>
                        <a href="https://releases.hyper.is/download/mac" target="_blank">Descargar (macOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">IFTTT</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Esta es una app móvil que complementa el hermoso servicio de IFTTT en web para automatizar tareas repetitivas y para hacer rutinas, automatizar tareas, webhooks y más.</p>
                        <a href="https://itunes.apple.com/mx/app/ifttt/id660944635?mt=8&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a> | <a href="https://play.google.com/store/apps/details?id=com.ifttt.ifttt&utm_source=/&utm_medium=web" target="_blank">Descargar (Android)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Last.fm</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Esta no es una app per se, sino que es un servicio para <em>scrobblear</em> o registrar la música que vayas escuchando en tus dispositivos. Tengo 13 años usándolo y el llevar el registro de mis hábitos musicales me es muy importante. Es compatible con Spotify por cierto, es gratis, nada pierden.</p>
                        <a href="https://www.last.fm/join" target="_blank">Crear tu cuenta</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Nintendo<br>Switch<br>Online</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Esta es la app oficial del servicio Nintendo Switch Online. Recomendada para organizar partidas con tus amigos, estadísticas, chat de voz y más.</p>
                        <a href="https://itunes.apple.com/us/app/id1234806557?mt=12&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a> | <a href="https://play.google.com/store/apps/details?id=com.nintendo.znca&gl=us&hl=en" target="_blank">Descargar (Android)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Overcast</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Overcast es probablemente la mejor app para consumir podcasts. Mantengan siempre los episodios más recientes con ustedes ya que siempre se estará sincronizando automáticamente.</p>
                        <a href="https://itunes.apple.com/mx/app/overcast-podcast-player/id888422857?mt=8&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Spark</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Después de que anunciaron que dejarían de darle soporte a Mailbox, me di a la tarea de buscar el reemplazo que me permitiera seguir administrando mi correo de la mejor manera posible y parece ser que Spark es el indicado, <em>so far, so good!</em> Lo único que me gustaría es que <del>hubiera una versión para macOS</del>.<br><em>Actualización: El equipo de Reedle lanzó (por fin) <a href="https://geo.itunes.apple.com/app/id1176895641?mt=8&uo=6&at=10l4Fw" target="itunes_store">Spark para macOS</a></em>.</p>
                        <a href="https://geo.itunes.apple.com/app/id1176895641?mt=8&uo=6&at=10l4Fw" target="itunes_store">Descargar (macOS)</a> | <a href="https://geo.itunes.apple.com/mx/app/spark-fast-smart-email-app/id997102246?mt=8" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Spotify</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Había estado usando TIDAL para consumir música, la calidad de audio ahí es hermosa, pero la app móvil es irresponsiva. Regresé a Spotify, a fin de cuentas TIDAL no ofrecía demasiado sobre Spotify.</p>
                        <a href="https://www.spotify.com/mx/download/" target="_blank">Descargar</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Twitter</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Generalmente twitteo desde el navegador mientras estoy trabajando 70-80% del tiempo, pero cuando necesito continuar revisando mi timeline, mentions, etc., la app móvil de Twitter hace bien el trabajo.</p>
                        <a href="https://itunes.apple.com/us/app/twitter/id333903271?mt=8" target="itunes_store">Descargar
                            (iOS)</a> | <a href="https://play.google.com/store/apps/details?id=com.twitter.android&hl=en_US" target="_blank">Descargar
                                (Android)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">VHS Cam</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Esta app sirve para grabar videos pero con la particularidad de ponerles un filtro para "empeorar" la calidad de imagen para darle un toque vintage a nuestras grabaciones. <a href="https://blog.luiscarlospando.net/personal/2015/10/video-ayer-en-el-back-to-the-future-day/" target="_blank">Aquí tienen una muestra</a> de lo que esta app es capaz de hacer.</p>
                        <a href="https://itunes.apple.com/mx/app/vhs-camcorder/id679454835?mt=8&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Visual<br>Studio<br>Code</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Dejé de usar Atom al momento de probar Visual Studio Code (tenía años que no usaba software de Microsoft) y la verdad es que estoy impresionado. Para los nuevos skills que estoy obteniendo, es un editor de código súper completo, rápido y estable.</p>
                        <a href="https://code.visualstudio.com/" target="_blank">Descargar</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

{% include footer.html %}