{% include header.html %}

    <div id="main-content" class="container site-body">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h1 class="text-center">Mis apps favoritas</h1>

                {{ content }}

                <dl class="row">
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>1Password</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Utilizo 1Password para tener contraseñas distintas y difíciles de descifrar en cada sitio/servicio que utilizo en línea.</p>
                        <a class="btn btn-primary" href="https://1password.com/es/" target="_blank"><i class="fa-solid fa-download"></i> Descargar</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Amphetamine</h3>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Esta pequeña pero útil app me sirve para evitar que mi Mac se suspenda automáticamente. Es muy molesto que me tengo que levantar por unos momentos y regresar para encontrar mi Mac dormida. Amphetamine me ayuda a evitarlo.</p>
                        <a class="btn btn-primary" href="https://apps.apple.com/es/app/amphetamine/id937984704?mt=12" target="_blank"><i class="fa-solid fa-download"></i> Descargar (macOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Apple Music</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Estoy en proceso de transicionar casi todo lo que uso y consumo al ecosistema de Apple, ahora estoy usando Apple Music para escuchar mi música. Parte de las razones que me hicieron dejar de usar Spotify en favor de Apple Music fue la integración nativa en mis dispositivos, la calidad lossless y el precio atractivo.</p>
                        <p class="badge badge-success"><i class="fa-solid fa-check"></i> Disponible nativamente en macOS y en iOS</p>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Arc</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p><a href="https://blog.luiscarlospando.com/mac/2022/07/por-fin/">Apenas recibí mi invitación</a> (después de un buen rato esperando) para instalar Arc, un navegador que promete transformar la manera que usamos Internet. Lo poco que llevo usándolo me ha encantado. 😍</p>
                        <a class="btn btn-primary" href="https://thebrowser.company/" target="_blank"><i class="fa-solid fa-link"></i> Unirse a la lista de espera</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Bartender 4</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Ahora con el notch de la Mac, no hay espacio suficiente para los íconos de la barra de menú. Con Bartender 4 puedo mantener la barra más organizada.</p>
                        <a class="btn btn-primary" href="https://www.macbartender.com/" target="_blank"><i class="fa-solid fa-download"></i> Descargar (macOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>CheatSheet</h3>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Esta app la uso para desplegar los comandos y atajos de teclado de la aplicación que esté usando en determinado momento.</p>
                        <a class="btn btn-primary" href="https://www.mediaatelier.com/CheatSheet" target="_blank"><i class="fa-solid fa-download"></i> Descargar (macOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>CleanShot X</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Todos los días tomo screenshots y es horrible que se vayan apilando en mi escritorio. CleanShot X soluciona el problema y me permite editar los screenshots antes de compartirlos.</p>
                        <a class="btn btn-primary" href="https://cleanshot.com/" target="_blank"><i class="fa-solid fa-download"></i> Descargar (macOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Craft</h3>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Constantemente necesito tomar notas en mi día a día, Craft me permite hacerlo con <i class="fa-brands fa-markdown"></i> Markdown y compartirlas con quien necesite.</p>
                        <a class="btn btn-primary" href="https://apps.apple.com/us/app/craft-docs/id1487937127" target="_blank"><i class="fa-solid fa-download"></i> Descargar (macOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Discord</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Discord es una aplicación que sirve para conectar comunidades de videojugadores. La app tiene chat de voz y canales de chat. La uso todo los días para estar en contacto con mis amigos en <a href="{{ site.url }}/mode-7">Mode 7</a>.</p>
                        <a class="btn btn-primary" href="https://discordapp.com/" target="_blank"><i class="fa-solid fa-download"></i> Descargar (macOS)</a> <a class="btn btn-primary" href="https://geo.itunes.apple.com/mx/app/discord-chat-for-gamers/id985746746?mt=8&at=10l4Fw" target="itunes_store"><i class="fa-solid fa-download"></i> Descargar (iOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>eqMac</h3>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Utiizo esta app para mejorar la ecualización del sonido en mis Macs, especialmente me sirve para mejorar el sonido de mis audífonos SteelSeries Arctis 3 Bluetooth. Recomiendo usar <a href="https://github.com/jaakkopasanen/AutoEq" target="_blank">AutoEq</a> para ver la mejor ecualización para tus modelos de audífonos.</p>
                        <a class="btn btn-primary" href="https://eqmac.app/" target="_blank"><i class="fa-solid fa-download"></i> Descargar (macOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Google Home</h3>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Uso Google Home para controlar los dispositivos inteligentes que tengo en mi casa.</p>
                        <a class="btn btn-primary" href="https://itunes.apple.com/us/app/google-home/id680819774?mt=8" target="itunes_store"><i class="fa-solid fa-download"></i> Descargar (iOS)</a>
                        <a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=com.google.android.apps.chromecast.app&hl=es_MX" target="_blank"><i class="fa-solid fa-download"></i> Descargar
                            (Android)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Hue Sync</h3>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Uso Hue Sync para sincronizar las luces de mi casa con la música que escucho y con lo que veo en TV.</p>
                        <a class="btn btn-primary" href="https://www2.meethue.com/es-mx/entertainment/hue-sync" target="_blank"><i class="fa-solid fa-download"></i> Descargar</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Hyper</h3>
                        </dt>
                    <dd class="col-8 col-lg-9">
                        <p>La terminal que viene incluida en Visual Studio Code es muy cómoda y todo, pero prefiero utilizar Hyper, que es una terminal disponible para Mac/Windows/Linux, justo lo que necesito en mi día a día.</p>
                        <a class="btn btn-primary" href="https://releases.hyper.is/download/mac" target="_blank"><i class="fa-solid fa-download"></i> Descargar (macOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Last.fm</h3>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Esta no es una app per se, sino que es un servicio para <em>scrobblear</em> o registrar la música que vayas escuchando en tus dispositivos. Tengo 13 años usándolo y el llevar el registro de mis hábitos musicales me es muy importante. Es compatible con Spotify por cierto, es gratis, nada pierden.</p>
                        <a class="btn btn-primary" href="https://www.last.fm/join" target="_blank"><i class="fa-solid fa-user-plus"></i> Crear una cuenta</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Overcast</h3>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Overcast es probablemente la mejor app para consumir podcasts. Mantengan siempre los episodios más recientes con ustedes ya que siempre se estará sincronizando automáticamente. También se puede instalar en macOS en Macs con procesadores Apple Silicon.</p>
                        <a class="btn btn-primary" href="https://itunes.apple.com/mx/app/overcast-podcast-player/id888422857?mt=8&uo=4&at=10l4Fw" target="itunes_store"><i class="fa-solid fa-download"></i> Descargar (iOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Parcel</h3>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Utilizo Parcel para rastrear mis compras y pedidos en línea. Algo que me gusta es que automáticamente agrega mis pedidos de Amazon y me manda notificaciones en la computadora o en mi teléfono.</p>
                        <a class="btn btn-primary" href="https://parcel.app/" target="_blank"><i class="fa-solid fa-download"></i> Descargar (macOS/iOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Raycast</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Posiblemente mi app favorita en la Mac en este momento. Me permite realizar una infinidad de cosas con un simple <code>⌥+Space</code> y ampliar su funcionalidad con una variedad de extensiones hechas por los usuarios.</p>
                        <a class="btn btn-primary" href="https://www.raycast.com/" target="_blank"><i class="fa-solid fa-download"></i> Descargar (macOS)</a>
                        <hr>
                        <h4>Mis extensiones favoritas</h4>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a id="install-extension-button" title="Install Cleanshot X Raycast Extension" href="https://www.raycast.com/Aayush9029/cleanshotx#install">
                                    <img height="64" style="height: 64px" src="https://assets.raycast.com/Aayush9029/cleanshotx/install_button@2x.png">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="install-extension-button" title="Install GitHub Raycast Extension" href="https://www.raycast.com/raycast/github#install">
                                    <img height="64" style="height: 64px" src="https://assets.raycast.com/raycast/github/install_button@2x.png">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="install-extension-button" title="Install Linear Raycast Extension" href="https://www.raycast.com/raycast/linear#install">
                                    <img height="64" style="height: 64px" src="https://assets.raycast.com/raycast/linear/install_button@2x.png">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="install-extension-button" title="Install Todoist Raycast Extension" href="https://www.raycast.com/thomaslombart/todoist#install">
                                    <img height="64" style="height: 64px" src="https://assets.raycast.com/thomaslombart/todoist/install_button@2x.png">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="install-extension-button" title="Install Twitter Raycast Extension" href="https://www.raycast.com/tonka3000/twitter#install">
                                    <img height="64" style="height: 64px" src="https://assets.raycast.com/tonka3000/twitter/install_button@2x.png">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="install-extension-button" title="Install YouTube Raycast Extension" href="https://www.raycast.com/tonka3000/youtube#install">
                                    <img height="64" style="height: 64px" src="https://assets.raycast.com/tonka3000/youtube/install_button@2x.png">
                                </a>
                            </li>
                        </ul>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Shortcuts</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Utilizo Shortcuts en mi computadora y en mi teléfono para realizar distintos tipos de automatizaciones en mi flujo de trabajo como en mi día a día.</p>
                        <a class="btn btn-primary" href="https://apps.apple.com/us/app/shortcuts/id915249334" target="itunes_store"><i class="fa-solid fa-download"></i> Descargar (iOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Spark</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Después de que anunciaron que dejarían de darle soporte a Mailbox, me di a la tarea de buscar el reemplazo que me permitiera seguir administrando mi correo de la mejor manera posible y parece ser que Spark fue el indicado.</p>
                        <a class="btn btn-primary" href="https://geo.itunes.apple.com/app/id1176895641?mt=8&uo=6&at=10l4Fw" target="itunes_store"><i class="fa-solid fa-download"></i> Descargar (macOS)</a> <a class="btn btn-primary" href="https://geo.itunes.apple.com/mx/app/spark-fa-solidt-smart-email-app/id997102246?mt=8" target="itunes_store"><i class="fa-solid fa-download"></i> Descargar (iOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Todoist</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Es un gestor de tareas multiplataforma que puedes usar directamente desde el navegador web, en macOs y en Windows mediante
                        sus clientes oficiales y en dispositivos móviles Android y iOS.</p>
                        <a class="btn btn-primary" href="https://todoist.com/" target="_blank"><i class="fa-solid fa-download"></i> Descargar</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Twitter</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Generalmente twitteo desde el navegador mientras estoy trabajando 70-80% del tiempo, pero cuando necesito continuar revisando mi timeline, mentions, etc., la app móvil de Twitter hace bien el trabajo.</p>
                        <a class="btn btn-primary" href="https://itunes.apple.com/us/app/twitter/id333903271?mt=8" target="itunes_store"><i class="fa-solid fa-download"></i> Descargar
                            (iOS)</a> <a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=com.twitter.android&hl=en_US" target="_blank"><i class="fa-solid fa-download"></i> Descargar
                                (Android)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>VHS Cam</h3>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Esta app sirve para grabar videos pero con la particularidad de ponerles un filtro para "empeorar" la calidad de imagen para darle un toque vintage a nuestras grabaciones. <a href="https://blog.luiscarlospando.net/personal/2015/10/video-ayer-en-el-back-to-the-future-day/" target="_blank">Aquí tienen una muestra</a> de lo que esta app es capaz de hacer.</p>
                        <a class="btn btn-primary" href="https://itunes.apple.com/mx/app/vhs-camcorder/id679454835?mt=8&uo=4&at=10l4Fw" target="itunes_store"><i class="fa-solid fa-download"></i> Descargar (iOS)</a>
                    </dd>
                    <dt class="col-4 col-lg-3 text-right">
                        <h3>Visual<br>Studio<br>Code</h3>
                        <p class="badge badge-primary"><i class="fa-solid fa-certificate"></i> Esencial</p>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <p>Dejé de usar Atom al momento de probar Visual Studio Code (tenía años que no usaba software de Microsoft) y la verdad es que estoy impresionado. Para los nuevos skills que estoy obteniendo, es un editor de código súper completo, rápido y estable.</p>
                        <a class="btn btn-primary" href="https://code.visualstudio.com/" target="_blank"><i class="fa-solid fa-download"></i> Descargar</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

{% include footer.html %}