{% include header.html %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h1 class="text-center">Mis apps favoritas</h1>

                {{ content }}

                <dl class="row">
                    <dt class="col-3">
                        <h3 class="text-right" class="text-right">1Password</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Utiliza una contraseña para absolutamente todo.</p>
                        <a href="https://itunes.apple.com/mx/app/1password/id443987910?mt=12&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Discord</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Discord es una aplicación que tiene la intención de reemplazar a Skype como la aplicación <em>default</em> que la mayoría de los jugadores utilicen para chat de voz. Su interfaz es muy parecida a la de Slack, con la diferencia de que está optimizada para jugar (con sus opciones y características específicas para gaming).</p>
                        <a href="https://discordapp.com/" target="_blank">Descargar (macOS)</a> | <a href="https://geo.itunes.apple.com/mx/app/discord-chat-for-gamers/id985746746?mt=8&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">IFTTT</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Esta es una app móvil que complementa el hermoso servicio de IFTTT en web para automatizar tareas repetitivas.</p>
                        <a href="https://itunes.apple.com/mx/app/ifttt/id660944635?mt=8&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Nintendo<br>Switch<br>Online</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Esta es la app oficial del servicio en línea de Nintendo Switch. Recomendada para organizar partidas con tus amigos, estadísticas, chat de voz y más.</p>
                        <a href="https://itunes.apple.com/us/app/id1234806557?mt=12&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a> | <a href="https://play.google.com/store/apps/details?id=com.nintendo.znca&gl=us&hl=en" target="itunes_store">Descargar (Android)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Prisma</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Prisma es una aplicación que permite aplicar hermosos filtros y espectaculares efectos a nuestras fotos. Después de crear algunas obras maestras, basta con compartirlas en redes sociales. Así de sencillo.</p>
                        <a href="https://itunes.apple.com/ru/app/prisma-art-filters-photo-effects/id888422857?mt=8&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Overcast</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Overcast es probablemente la mejor app para consumir podcasts. Mantengan siempre los episodios más recientes con ustedes ya que siempre se estará sincronizando automáticamente.</p>
                        <a href="https://itunes.apple.com/mx/app/overcast-podcast-player/id888422857?mt=8&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Slack</h3>
                    </dt>
                    <dd class="col-9">
                        <p><a href="https://blog.luiscarlospando.net/tecnologia/2015/03/03/recomiendo-slack/">Escribí un poco sobre Slack en mi blog</a>, ahí verán porque es de mis principales recomendaciones.</p>
                        <a href="https://geo.itunes.apple.com/mx/app/slack/id803453959?mt=12&uo=6&at=10l4Fw" target="itunes_store">Descargar (macOS)</a> | <a href="https://geo.itunes.apple.com/mx/app/slack-team-communication/id618783545?mt=8&uo=6&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Spark</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Después de que anunciaron que dejarían de darle soporte a Mailbox, me di a la tarea de buscar el reemplazo que me permitiera seguir administrando mi correo de la mejor manera posible y parece ser que Spark es el indicado, <em>so far, so good!</em> Lo único que me gustaría es que <del>hubiera una versión para macOS</del>.<br><em>Actualización: El equipo de Reedle lanzó (por fin) <a href="https://geo.itunes.apple.com/app/id1176895641?mt=8&uo=6&at=10l4Fw" target="itunes_store">Spark para macOS</a></em>.</p>
                        <a href="https://geo.itunes.apple.com/app/id1176895641?mt=8&uo=6&at=10l4Fw" target="itunes_store">Descargar (macOS)</a> | <a href="https://geo.itunes.apple.com/mx/app/spark-fast-smart-email-app/id997102246?mt=8" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Spotify</h3>
                    </dt>
                    <dd class="col-9">
                        <p><a href="http://www.theverge.com/2015/11/17/9750890/rdio-shutdown-pandora" target="_blank">Después de que me quitaran Rdio</a> duré mucho tiempo sin usar una app para consumir música, pasaba de usar iTunes (¿qué asco?) a usar YouTube como mi manera de encontrar y escuchar música. Obviamente no era la manera adecuada pero sobre todo óptima de hacerlo hasta que volví a descargar Spotify. La plataforma es estable, se mantiene correctamente sincronizada en mis dispositivos.</p>
                        <a href="https://www.spotify.com/mx/download/" target="_blank">Descargar</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Twitter</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Hace tiempo ya que dejé de usar Tweetbot, ¿la razón?... Creo que ya se siente un poco obsoleta. La app oficial de Twitter ha mejorado mucho con el paso del tiempo.</p>
                        <a href="https://itunes.apple.com/us/app/twitter/id409789998?mt=12&uo=4&at=10l4Fw">Descargar (macOS)</a> | <a href="https://itunes.apple.com/us/app/twitter/id333903271?mt=8&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">VHS Cam</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Esta app sirve para grabar videos pero con la particularidad de ponerles un filtro para "empeorar" la calidad de imagen para darle un toque vintage a nuestras grabaciones. <a href="https://blog.luiscarlospando.net/personal/2015/10/video-ayer-en-el-back-to-the-future-day/" target="_blank">Aquí tienen una muestra</a> de lo que esta app es capaz de hacer.</p>
                        <a href="https://itunes.apple.com/mx/app/vhs-camcorder/id679454835?mt=8&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">VSC</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Pues ya me despedí de Atom en favor de usar Visual Studio Code (hace años que no usaba software de Microsoft). Para los nuevos skills que estoy obteniendo, es un editor realmente útil, completo y rápido.</p>
                        <a href="https://code.visualstudio.com/" target="_blank">Descargar</a>
                    </dd>
                    <dt class="col-3">
                        <h3 class="text-right">Workflow</h3>
                    </dt>
                    <dd class="col-9">
                        <p>Increíble, pequeña y eficaz app que sirve para automatización de tareas. No creerán todo lo que se puede hacer con ella. Es una app hecha para nerds como yo que les aseguro los mantendrá entretenidos y ocupados un rato.</p>
                        <a href="https://itunes.apple.com/mx/app/workflow-powerful-automation/id915249334?mt=8&uo=4&at=10l4Fw" target="itunes_store">Descargar (iOS)</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

{% include footer.html %}