{% include header.html %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h1 class="text-center">Nintendo</h1>

                {{ content }}

                <div class="card text-center">
                    <div class="card-body">
                        <h3>Nintendo Switch Friend Code: SW-3920-3330-9820</h3>
                    </div>
                </div>

                <hr>

                <div class="card text-center">
                    <div class="card-body">
                        <h3>Nintendo Network ID: luiscpc85 (Wii U)</h3>
                    </div>
                </div>

                <hr>

                <div class="card text-center mb-3">
                    <div class="card-body">
                        <h3>Nintendo 3DS Friend Code: 2853-0168-4709</h3>
                    </div>
                </div>

                <div class="alert alert-danger" role="alert">
                    <strong><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Disclaimer</strong><br>
                    Últimamente casi no juego en mi Wii U y Nintendo 3DS en línea, casi todo el tiempo ahora lo paso en mi Switch.
                </div>

                <p>Los juegos que estoy jugando actualmente son:</p>

                <h2>Nintendo Switch</h2>

                <ul>
                    <li><a href="/nintendo/switch/breath-of-the-wild/"><em>The Legend of Zelda: Breath of the Wild + DLC</em></a></li>
                    <li><a href="/nintendo/switch/super-mario-odyssey/"><em>Super Mario Odyssey</em></a></li>
                    <li><a href="/nintendo/switch/splatoon-2/"><em>Splatoon 2</em></a> <em>(es el juego en donde soy más activo, juego casi todas las noches)</em></li>
                    <li><a href="/nintendo/switch/sonic-mania/"><em>Sonic Mania</em></a></li>
                </ul>

                <h2>Nintendo iOS/Android</h2>

                <p>La neta no soy tan activo en estos juegos, pero les comparto mis códigos de amigo por si quieren agregarme de todas maneras:</p>

                <ul>
                    <li><a href="https://support.miitomo.com/friend_code/f7f1a963f99b29bf/aa5f315f59daa9ce9e033bcc3900d7e9"><em>Miitomo</em></a></li>
                    <li><em>Super Mario Run Player</em> ID: 0101-8049-9956</li>
                    <li><em>Fire Emblem Heroes Player</em> ID: 4780622090</li>
                </ul>

                <p>Hagan clic en alguno de esos juegos para saber de qué manera pueden jugar conmigo.</p>

                <p>También les comparto mi repositorio de posts en <a href="/nintendo/miiverse">Miiverse</a>.</p>
            </div>
        </div>
    </div>

{% include footer.html %}