{% include header.html %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h1 class="text-center">Splatoon 2</h1>

                {{ content }}

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title text-left">Nintendo Switch Friend Code</h5>
                            </div>
                            <div class="card-body">
                                <h3 class="card-text text-center">SW-3920-3330-9820</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title  text-left">Discord Tag</h5>
                            </div>
                            <div class="card-body">
                                <h3 class="card-text text-center">Mijo#0438</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <h2>Modos de Juego</h2>
            
                        <ul>
                            <li>Ranked Battle (Por lo general no juego Turf War)
                                <ul>
                                    <li>Rainmaker</li>
                                    <li>Splat Zones</li>
                                    <li>Tower Control</li>
                                    <li>Clam Blitz <span class="badge badge-primary">Nuevo</span></li>
                                </ul>
                            </li>
                            <li>League Battle</li>
                            <li>Salmon Run</li>
                        </ul>
            
                        <h2>Información</h2>
            
                        <ul>
                            <li>Pueden unirse al servidor <a href="https://discord.gg/Fmmree8">Splatoon2 México</a> en Discord para recibir updates y notificaciones de todas las personas que jugamos</li>
                            <li>Revisen las estadísticas y resultados en usando SplatNet 2 que es parte de la app Nintendo Switch Online (<a href="https://itunes.apple.com/us/app/id1234806557?mt=12&uo=4&at=10l4Fw">iOS</a> | <a href="https://play.google.com/store/apps/details?id=com.nintendo.znca&gl=us&hl=en">Android</a>)</li>
                            <li>Pueden revisar todos mis posts sobre <em>Splatoon 2</em> en este hashtag: <a class="badge badge-secondary" href="https://blog.luiscarlospando.net/hashtag/splatoon2/">#Splatoon2</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h2>Tweets</h2>
            
                        <div class="text-center mt20">
                            <a class="twitter-timeline"  href="https://twitter.com/search?q=%23Splatoon2%20AND%20%23NintendoSwitch%20from%3A%40{{ site.twitter_username }}" data-widget-id="933402336726278144">Tweets about #Splatoon2 AND #NintendoSwitch from:@{{ site.twitter_username }}</a>
                        </div>
            
                        <p>Para recibir mis notificaciones sobre <em>Splatoon 2</em> pueden <a href="http://twitter.com/intent/user?screen_name={{ site.twitter_username }}&lang=es">seguirme en Twitter</a>.</p>
            
                        <div class="text-center">
                            <a href="https://twitter.com/{{ site.twitter_username }}" class="twitter-follow-button text-center" data-show-count="false">Follow @{{ site.twitter_username }}</a>
                        </div>
                    </div>
                </div>

                <h2>Chat de voz</h2>

                <p>Para chat de voz utilizo Discord principalmente, si en el futuro mejoran la app de Nintendo Switch Online (<a href="https://itunes.apple.com/us/app/id1234806557?mt=12&uo=4&at=10l4Fw">iOS</a> | <a href="https://play.google.com/store/apps/details?id=com.nintendo.znca&gl=us&hl=en">Android</a>) es posible que comience a usarla también.</p>

                <h2>Discord</h2>

                <p>Únanse al servidor <a href="https://discord.gg/Fmmree8">Splatoon2 México</a>, es en donde he visto que anda más activa la comunidad de <em>Splatoon</em>. El servidor es bien útil para armar partidas, armar cotorreo, conocer gente, entrar a torneos o reclutar gente para Salmon Run. Si quieren, también pueden unirse a la <a href="https://www.facebook.com/groups/splatoonchihuahua">Comunidad Splatoon Chihuahua</a>, grupo de la escena local de <em>Splatoon</em> en mi zona.</p>

                <hr>

                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/332020614&amp;color=ff3530&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

                <hr>

                <h2>Otros juegos en los que soy activo</h2>

                <ul>
                    <li><a href="/nintendo/switch/breath-of-the-wild"><em>The Legend of Zelda: Breath of the Wild + DLC</em></a></li>
                    <li><a href="/nintendo/switch/super-mario-odyssey"><em>Super Mario Odyssey</em></a></li>
                    <li><a href="/nintendo/switch/sonic-mania"><em>Sonic Mania</em></a></li>
                </ul>
            </div>
        </div>
    </div>

{% include footer.html %}