{% include header.html %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h1 class="text-center">Nintendo</h1>

                {{ content }}

                <div class="card text-center mb-3">
                    <div class="card-body">
                        <h3>Nintendo Switch Friend Code: SW-3920-3330-9820</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include footer.html %}