{% include header.html %}

<section id="main-content" class="container site-body">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <h1 class="text-center">Uses</h1>

            {{ content }}

            <dl class="row">
                <dt id="1-password" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://1password.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/1password.webp"
                            alt="1Password"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">1Password</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        Utilizo 1Password para generar contraseñas aleatoreas
                        para todo lo que uso, por seguridad y para hacerme la
                        vida más fácil.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://1password.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="alcove" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://tryalcove.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/alcove.webp"
                            alt="Alcove"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Alcove</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        Para mi, Alcove es el <em>notch/dynamic island</em> que
                        más se comporta y se ve como si fuera un feature nativo
                        hecho por Apple. Lo uso para ver lo que estoy escuchando
                        en Apple Music y ver algunas notificaciones del sistema.
                        No tiene tantas características como algunos de la
                        competencia, pero también es parte de su encanto.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://tryalcove.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="amphetamine" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://apps.apple.com/es/app/amphetamine/id937984704?mt=12"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/amphetamine.webp"
                            alt="Amphetamine"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Amphetamine</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        Utilizo Amphetamine para mantener despierta mi Mac
                        cuando estoy realizando algo importante y por ejemplo me
                        tengo que ir a hacer otras cosas.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://apps.apple.com/es/app/amphetamine/id937984704?mt=12"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="apple-music" class="col-3 col-lg-2 text-right">
                    <a class="btn-app-icon" href="javascript:void(0)">
                        <img
                            src="../assets/images/uses/music.webp"
                            alt="Apple Music"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Apple Music</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        Uso Apple Music para escuchar musica en streaming. La
                        calidad de sonido es inigualable y la integración nativa
                        en mis dispositivos es muy cómoda.
                    </p>
                </dd>
                <dt id="arc" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://arc.net/gift/d1e26a68"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/arc.webp"
                            alt="Arc"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Arc</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-light">Link referido</span>
                        </li>
                    </ul>
                    <p>
                        <a
                            href="https://arc.net/gift/d1e26a68"
                            target="_blank"
                            rel="noreferrer noopener"
                            >Arc</a
                        >
                        sigue siendo el mejor navegador para mi. Aunque ya ha
                        dejado de recibir actualizaciones grandes, hasta este
                        momento no siento que haya una alternativa que me
                        satisfaga tanto como Arc.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://arc.net/gift/d1e26a68"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="bartender" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://www.macbartender.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/bartender.webp"
                            alt="Bartender 6"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Bartender 6</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        Estoy de vuelta en Barteder después de haber usado Ice
                        un rato. Ahora estoy usando Bartender 6 porque tiene
                        soporte para macOS Tahoe.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://www.macbartender.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="calendar" class="col-3 col-lg-2 text-right">
                    <a class="btn-app-icon" href="javascript:void(0)">
                        <img
                            src="../assets/images/uses/calendar.webp"
                            alt="Calendar.app"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Calendar.app</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        Descubrí que, después de usar otras apps como Amie o
                        Notion Calendar, que la app nativa de Apple me ofrece lo
                        mismo ahora en las versiones más recientes de macOS como
                        de iOS.
                    </p>
                </dd>
                <dt id="cleanshot-x" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://cleanshot.sjv.io/y2GPo3"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/cleanshot-x.webp"
                            alt="CleanShot X"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">CleanShot X</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-light">Link referido</span>
                        </li>
                    </ul>
                    <p>
                        Todos los días tomo screenshots y es horrible que se
                        vayan apilando en mi escritorio. CleanShot X soluciona
                        el problema y me permite editar los screenshots antes de
                        compartirlos.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://cleanshot.sjv.io/y2GPo3"
                        target="_blank"
                        rel="noreferrer noopener"
                        ><i class="fa-solid fa-download"></i> Descargar</a
                    >
                </dd>
                <dt id="discord" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://discordapp.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/discord.webp"
                            alt="Discord"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Discord</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        Uso Discord para mantenerme en contacto con
                        <a href="{{ site.url }}/discord"
                            >mis amigos de Mode 7</a
                        >
                        y también para conectar y conocer gente de diferentes
                        comunidades con las que pueda compartir gustos o ideas.
                    </p>
                    <a
                        class="btn btn-primary mb-3 mb-md-0"
                        href="https://discordapp.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="eqmac" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://eqmac.app/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/eqmac.webp"
                            alt="eqMac"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">eqMac</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        Utilizo
                        <a
                            href="https://eqmac.app/"
                            target="_blank"
                            rel="noreferrer noopener"
                            >eqMac</a
                        >
                        para configurar la ecualización del sonido en mis Macs y
                        especialmente me sirve para mejorar el sonido de mis
                        audífonos SteelSeries Arctis 3 Bluetooth. Recomiendo
                        usar
                        <a
                            href="https://github.com/jaakkopasanen/AutoEq"
                            target="_blank"
                            rel="noreferrer noopener"
                            >AutoEq</a
                        >
                        para ver la mejor ecualización para tus modelos de
                        audífonos.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://eqmac.app/"
                        target="_blank"
                        rel="noreferrer noopener"
                        ><i class="fa-solid fa-download"></i> Descargar</a
                    >
                </dd>
                <dt id="ghostty" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://ghostty.org/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/ghostty.webp"
                            alt="Ghostty"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Ghostty</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        Ghostty es una terminal rapidísima y ligera, aparte de
                        que es súper personalizable. Con lo que ando jugueteando
                        ahora es con los shaders (soporte nativo) para hacer
                        lucir mi terminal, lo más retro posible.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://ghostty.org/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="klack" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://tryklack.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/klack.webp"
                            alt="eqMac"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Klack</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        Esta app ni siquiera es necesaria, pero está bien chida.
                        Sirve para personalizar el sonido de las teclas de mi
                        teclado para simular el sonido de un teclado mecánico.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://tryklack.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                        ><i class="fa-solid fa-download"></i> Descargar</a
                    >
                </dd>
                <dt id="last-fm" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://www.last.fm/join"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/last-fm.webp"
                            alt="Last.fm"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Last.fm</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">Web</span>
                        </li>
                    </ul>
                    <p>
                        Si estás morrit@, tal vez no conozcas
                        <a
                            href="https://www.last.fm/join"
                            target="_blank"
                            rel="noreferrer noopener"
                            >Last.fm</a
                        >, pero es hermoso. Last.fm es un servicio que sirve
                        para <em>scrobblear</em> o registrar la música que vas
                        escuchando. Uso su API para mostrar lo que estoy
                        escuchando actualmente aquí en mi sitio. Llevo más de 20
                        años usándolo (🤯) y la bitácora de mis hábitos
                        musicales me ayuda a saber cómo ha ido cambiado mi gusto
                        musical. Es compatible con Apple Music y Spotify, es
                        gratis, nada pierden.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://www.last.fm/join"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-user-plus"></i> Crear cuenta
                    </a>
                </dd>
                <dt id="mail" class="col-3 col-lg-2 text-right">
                    <a class="btn-app-icon" href="javascript:void(0)">
                        <img
                            src="../assets/images/uses/mail.webp"
                            alt="Mail.app"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Mail.app</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        He intentado muchos clientes de correo, pero Mail.app ha
                        mejorado mucho y ahora es mi cliente de correo
                        preferido. Además, su integración con iCloud y su
                        capacidad para sincronizar correos electrónicos entre
                        dispositivos hacen que sea una opción excelente.
                    </p>
                </dd>
                <dt id="obscura" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://obscura.camera/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/obscura.webp"
                            alt="Obscura 4"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Obscura 4</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        La aplicación nativa para tomar fotos en iOS es buena la
                        mayor parte del tiempo, pero si necesito realizar
                        ajustes más avanzados, entonces uso Obscura 4.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://obscura.camera/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="obsidian" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://obsidian.md/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/obsidian.webp"
                            alt="Obsidian"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Obsidian</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        Recientemente migré de Craft a Obsidian para mis notas
                        diarias. Aún estoy en pañales, pero el hecho de tener
                        control total de mis archivos es lo que me motivó a
                        cambiarme.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://obsidian.md/"
                        target="_blank"
                        rel="noreferrer noopener"
                        ><i class="fa-solid fa-download"></i> Descargar</a
                    >
                </dd>
                <dt id="omg-lol" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://home.omg.lol/referred-by/mijo"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/statuslog.webp"
                            alt="omg.log"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">omg.lol</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-light">Link referido</span>
                        </li>
                    </ul>
                    <p>
                        <a
                            href="https://home.omg.lol/referred-by/mijo"
                            target="_blank"
                            rel="noreferrer noopener"
                            >omg.lol</a
                        >
                        es lo mejor que me ha pasado en Internet en mucho
                        tiempo. Tal vez debería escribir un post al respecto,
                        pero básicamente uso omg.lol para
                        <a
                            href="https://mijo.status.lol/"
                            target="_blank"
                            rel="noreferrer noopener"
                            >actualizar mi estatus</a
                        >,
                        <a
                            href="https://mijo.omg.lol/now"
                            target="_blank"
                            rel="noreferrer noopener"
                            >actualizar mi página <code>/now</code></a
                        >,
                        <a
                            href="https://mijo.omg.lol/now"
                            target="_blank"
                            rel="noreferrer noopener"
                            >usar Mastodon</a
                        >,
                        <a
                            href="https://mijo.proven.lol/"
                            target="_blank"
                            rel="noreferrer noopener"
                            >emitir <em>proofs</em></a
                        >
                        (o verificar mis cuentas), crear PURLs y muchísimo más.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://home.omg.lol/referred-by/mijo"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-user-plus"></i> Crear cuenta
                    </a>
                </dd>
                <dt id="parcel" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://parcelapp.net/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/parcel.webp"
                            alt="Parcel"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Parcel</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        Utilizo Parcel para rastrear mis compras y pedidos en
                        línea. Algo que me gusta es que automáticamente agrega
                        mis pedidos de Amazon y me manda notificaciones en la
                        computadora o en mi teléfono.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://parcel.app/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="philips-hue" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://apps.apple.com/ni/app/philips-hue/id1055281310"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/philips-hue.webp"
                            alt="Philips Hue"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Philips Hue</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        Uso Philips Hue para controlar la iluminación de mi
                        casa.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://apps.apple.com/ni/app/philips-hue/id1055281310"
                        target="_blank"
                        rel="noreferrer noopener"
                        ><i class="fa-solid fa-download"></i> Descargar</a
                    >
                </dd>
                <dt id="pixelmator-pro" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://www.pixelmator.com/pro/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/pixelmator-pro.png"
                            alt="Pixelmator Pro"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Pixelmator Pro</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        Para edición de gráficos, Pixelmator Pro es una
                        excelente opción. Ofrece una interfaz intuitiva y una
                        amplia gama de herramientas para crear y editar
                        imágenes.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://www.pixelmator.com/pro/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="quanta" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://apps.apple.com/us/app/quanta-vinyl-companion/id1600262501"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/quanta.webp"
                            alt="Quanta - Vinyl Companion"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Quanta</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        En uno de los capítulos del podcast
                        <a
                            href="https://www.youtube.com/playlist?list=PLDSpdP6G2mHuQfDP4-fM8XQxLYmc90xNi"
                            target="_blank"
                            rel="noreferrer noopener"
                            >Comfort Zone</a
                        >
                        mencionaron esta app. Parece magia pero esta app la uso
                        para ver los <em>lyrics</em> en tiempo real y para
                        <em>scrobblear</em> mis vinilos a Last.fm.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://apps.apple.com/us/app/quanta-vinyl-companion/id1600262501"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="raycast" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://raycast.com/?via=luis-carlos"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/raycast.webp"
                            alt="Raycast"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Raycast</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-light">Link referido</span>
                        </li>
                    </ul>
                    <p>
                        Raycast es la única app obligatoria en mi Mac (y
                        1Password también tal vez 😜). Es tan versátil y útil
                        que mejor
                        <a
                            href="https://raycast.com/?via=luis-carlos"
                            target="_blank"
                            rel="noreferrer noopener"
                            >te invito a que tú mismo veas de qué va</a
                        >.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://raycast.com/?via=luis-carlos"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="reeder-classic" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://reederapp.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/reeder.webp"
                            alt="Reeder Classic"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Reeder Classic</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        La mejor app para consumir RSS en macOS (en mi opinión)️.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://reederapp.com/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="shortcuts" class="col-3 col-lg-2 text-right">
                    <a class="btn-app-icon" href="javascript:void(0)">
                        <img
                            src="../assets/images/uses/shortcuts.webp"
                            alt="Shortcuts"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Shortcuts</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        Utilizo Shortcuts en mi computadora y en mi teléfono
                        para realizar distintos tipos de automatizaciones en mi
                        flujo de trabajo como en mi día a día.
                    </p>
                </dd>
                <dt id="shortery" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://lgerckens.de/shortery/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/shortery.webp"
                            alt="Shortery"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Shortery</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        Uso Shortery porque a los Shortcuts de Apple les falta
                        una cosa muy importante: triggers para ejecutar los
                        shortcuts cumpliéndose ciertas condiciones y también me
                        sirve para automatizarlos.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://lgerckens.de/shortery/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="sleeve-2" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://replay.software/sleeve"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/sleeve-2.webp"
                            alt="Sleeve 2"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Sleeve</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        Sleeve es una pequeña (pero versátil) app para Mac que
                        sirve para mostrar lo que estoy escuchado actualmente en
                        mi desktop. Es compatible con Apple Music y con Spotify.
                        Lo uso también para
                        <em>scrobblear</em> a Last.fm.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://replay.software/sleeve"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="things" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://culturedcode.com/things/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/things.webp"
                            alt="Things"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Things</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="badge badge-primary">iOS</span>
                        </li>
                    </ul>
                    <p>
                        Es el administrador de tareas que uso, principalmente
                        porque funciona nativamente en mis dispositivos. Antes
                        era usuario de Todoist, pero ahora quise darle la
                        oportunidad a Things.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://culturedcode.com/things/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="triode" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://apps.apple.com/ni/app/triode-internet-radio/id1450027401"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/triode.webp"
                            alt="Triode"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Triode</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        Soy todavía muy fan de escuchar radio por Internet y
                        acabo de descubrir Triode que es una app que lo hace muy
                        fácil.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://apps.apple.com/ni/app/triode-internet-radio/id1450027401"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
                <dt id="zed" class="col-3 col-lg-2 text-right">
                    <a
                        class="btn-app-icon"
                        href="https://zed.dev/"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <img
                            src="../assets/images/uses/zed.webp"
                            alt="Zed"
                            class="app-icon enlarge-transition rounded img-fluid"
                            loading="lazy"
                        />
                    </a>
                </dt>
                <dd class="col-9 col-lg-9 mb-4">
                    <h3 class="d-inline-block">Zed</h3>
                    <ul class="list-inline d-inline-block my-0 ml-2">
                        <li class="list-inline-item">
                            <span class="badge badge-primary">macOS</span>
                        </li>
                    </ul>
                    <p>
                        Zed es mi editor de código de elección, más que nada por
                        su velocidad, características y diseño.
                    </p>
                    <a
                        class="btn btn-primary"
                        href="https://zed.dev/download"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>
                </dd>
            </dl>
        </div>
    </div>
</section>

{% include footer.html %}
