{% include header.html %}

    <section id="main-content" class="container site-body">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h1 class="text-center">Uses</h1>

                {{ content }}

                <dl class="row">
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://1password.com/" target="_blank">
                            <img src="../assets/images/uses/1password.webp" alt="1Password" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">1Password</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Utilizo 1Password para generar contraseñas aleatoreas para todo lo que uso, por seguridad y para hacerme la vida más fácil.</p>
                        <a class="btn btn-primary" href="https://1password.com/" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://apps.apple.com/es/app/amphetamine/id937984704?mt=12" target="_blank">
                            <img src="../assets/images/uses/amphetamine.webp" alt="Amphetamine" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Amphetamine</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                        </ul>
                        <p>Esta pequeña pero útil app me sirve para evitar que mi Mac se suspenda automáticamente. Es muy molesto que me tengo que levantar por unos momentos y regresar para encontrar mi Mac dormida. Amphetamine me ayuda a evitarlo.</p>
                        <a class="btn btn-primary" href="https://apps.apple.com/es/app/amphetamine/id937984704?mt=12" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://thebrowser.company/" target="_blank">
                            <img src="../assets/images/uses/arc.webp" alt="Arc" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Arc</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                        </ul>
                        <p><a href="https://blog.luiscarlospando.com/mac/2022/07/por-fin/">Recibí mi invitación</a> (ya hace rato) para probar Arc. Y ahora puedo decir que estoy completamente adaptado al nuevo workflow, el hecho de poder separar mis "online personas" en distintos <em>spaces</em> y tweakear mis sitios favoritos usando <em>boosts</em>, es un game changer. 😍</p>
                        <a class="btn btn-primary" href="https://thebrowser.company/" target="_blank"><i class="fa-solid fa-link"></i> Unirse a la lista de espera</a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://www.macbartender.com/" target="_blank">
                            <img src="../assets/images/uses/bartender.webp" alt="Bartender 4" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Bartender 4</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                        </ul>
                        <p>Ahora con el notch de la Mac, no hay espacio suficiente para los íconos de la barra de menú. Con Bartender 4 puedo mantener la barra más organizada.</p>
                        <a class="btn btn-primary" href="https://www.macbartender.com/" target="_blank"><i class="fa-solid fa-download"></i> Descargar</a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://www.mediaatelier.com/CheatSheet" target="_blank">
                            <img src="../assets/images/uses/cheatsheet.webp" alt="CheatSheet" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">CheatSheet</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                        </ul>
                        <p>Esta app la uso para desplegar los comandos y atajos de teclado de la aplicación que esté usando en determinado momento.</p>
                        <a class="btn btn-primary" href="https://www.mediaatelier.com/CheatSheet" target="_blank"><i class="fa-solid fa-download"></i> Descargar</a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://cleanshot.com/" target="_blank">
                            <img src="../assets/images/uses/cleanshot-x.webp" alt="CleanShot X" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">CleanShot X</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                        </ul>
                        <p>Todos los días tomo screenshots y es horrible que se vayan apilando en mi escritorio. CleanShot X soluciona el problema y me permite editar los screenshots antes de compartirlos.</p>
                        <a class="btn btn-primary" href="https://cleanshot.com/" target="_blank"><i class="fa-solid fa-download"></i> Descargar</a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://www.craft.do/" target="_blank">
                            <img src="../assets/images/uses/craft.webp" alt="Craft" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Craft</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Constantemente necesito tomar notas en mi día a día, además de que las puedo crear con <i class="fa-brands fa-markdown"></i> Markdown y compartirlas con quien necesite.</p>
                        <a class="btn btn-primary" href="https://www.craft.do/" target="_blank"><i class="fa-solid fa-download"></i> Descargar</a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://discordapp.com/" target="_blank">
                            <img src="../assets/images/uses/discord.webp" alt="Discord" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Discord</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Discord es una aplicación que sirve para conectar comunidades de videojugadores (o al menos así fue pensada, ahora es más que eso). La app tiene chat de voz y canales de chat. La uso todo los días para estar en contacto con mis amigos en <a href="{{ site.url }}/mode-7">Mode 7</a>.</p>
                        <a class="btn btn-primary mb-3 mb-md-0" href="https://discordapp.com/" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://eqmac.app/" target="_blank">
                            <img src="../assets/images/uses/eqmac.webp" alt="eqMac" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">eqMac</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                        </ul>
                        <p>Utiizo esta app para mejorar la ecualización del sonido en mis Macs, especialmente me sirve para mejorar el sonido de mis audífonos SteelSeries Arctis 3 Bluetooth. Recomiendo usar <a href="https://github.com/jaakkopasanen/AutoEq" target="_blank">AutoEq</a> para ver la mejor ecualización para tus modelos de audífonos.</p>
                        <a class="btn btn-primary" href="https://eqmac.app/" target="_blank"><i class="fa-solid fa-download"></i> Descargar</a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://apps.apple.com/ni/app/philips-hue/id1055281310" target="_blank">
                            <img src="../assets/images/uses/philips-hue.webp" alt="Philips Hue" class="app-icon rounded img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Philips Hue</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Uso Philips Hue para controlar la iluminación de mi casa.</p>
                        <a class="btn btn-primary" href="https://apps.apple.com/ni/app/philips-hue/id1055281310" target="_blank"><i class="fa-solid fa-download"></i> Descargar</a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://tapbots.com/ivory/mac/" target="_blank">
                            <img src="../assets/images/uses/ivory.webp" alt="Ivory for Mac" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Ivory for Mac</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                        </ul>
                        <p>Ahora si, estoy probando Ivory en la Mac. Aún está en una versión preliminar pero se siente prometedor, hasta es compatible con Shortcuts, ¿quihubo?</p>
                        <a class="btn btn-primary mb-3 mb-md-0" href="https://tapbots.com/ivory/mac/" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://www.last.fm/join" target="_blank">
                            <img src="../assets/images/uses/last-fm.webp" alt="Last.fm" class="app-icon rounded img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Last.fm</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">Web</span>
                            </li>
                        </ul>
                        <p>Esta no es una app per se, sino que es un servicio para <em>scrobblear</em> o registrar la música que vayas escuchando en tus dispositivos. Tengo 13 años usándolo y el llevar el registro de mis hábitos musicales me es muy importante. Es compatible con Spotify por cierto, es gratis, nada pierden.</p>
                        <a class="btn btn-primary" href="https://www.last.fm/join" target="_blank">
                            <i class="fa-solid fa-user-plus"></i> Crear una cuenta
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="javascript:void(0)">
                            <img src="../assets/images/uses/mail.webp" alt="Mail" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Mail</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Dejé de usar Spark porque la <code>v3</code> <a href="https://www.reddit.com/r/macapps/comments/xx295j/the_spark_v3_macos_issues/" target="_blank">resultó hacer muchas cosas mal</a> y lo peor de todo es que ahora es Electron para poder ser multiplataforma (por lo que el rendimiento empeora y el hambre de RAM aumenta). Por ahora estoy usando la app Mail nativa de macOS.</p>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="javascript:void(0)">
                            <img src="../assets/images/uses/music.webp" alt="Music" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Music</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Ahora uso Apple Music en lugar de Spotify para consumir musica en streaming. Parte de las razones que me hicieron dejar de usar Spotify en favor de Apple Music fue la integración nativa en mis dispositivos, el precio, pero sobre todo, <em>la mejor calidad de sonido</em>.</p>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://obscura.camera/" target="_blank">
                            <img src="../assets/images/uses/obscura-3.webp" alt="Obscura 3" class="app-icon rounded img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Obscura 3</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>La aplicación nativa para tomar fotos en iOS es muy buena, pero si necesito realizar ajustes más avanzados, entonces uso Obscura 3.</p>
                        <a class="btn btn-primary" href="https://obscura.camera/" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://overcast.fm/" target="_blank">
                            <img src="../assets/images/uses/overcast.webp" alt="Overcast" class="app-icon rounded img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Overcast</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Overcast es probablemente la mejor app para consumir podcasts. Mantengan siempre los episodios más recientes con ustedes ya que siempre se estará sincronizando automáticamente. También se puede instalar en macOS en Macs con procesadores Apple Silicon.</p>
                        <a class="btn btn-primary" href="https://overcast.fm/" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://parcelapp.net/" target="_blank">
                            <img src="../assets/images/uses/parcel.webp" alt="Parcel" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Parcel</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Utilizo Parcel para rastrear mis compras y pedidos en línea. Algo que me gusta es que automáticamente agrega mis pedidos de Amazon y me manda notificaciones en la computadora o en mi teléfono.</p>
                        <a class="btn btn-primary" href="https://parcel.app/" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://itunes.apple.com/mx/app/vhs-camcorder/id679454835?mt=8&uo=4&at=10l4Fw" target="itunes_store">
                            <img src="../assets/images/uses/rarevision-vhs.webp" alt="Rarevision VHS" class="app-icon rounded img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Rarevision VHS</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Esta app sirve para grabar videos pero con la particularidad de ponerles un filtro para "empeorar" la calidad de imagen para darle un toque vintage a nuestras grabaciones. <a href="https://blog.luiscarlospando.net/personal/2015/10/video-ayer-en-el-back-to-the-future-day/" target="_blank">Aquí tienen una muestra</a> de lo que esta app es capaz de hacer.</p>
                        <a class="btn btn-primary" href="https://itunes.apple.com/mx/app/vhs-camcorder/id679454835?mt=8&uo=4&at=10l4Fw" target="itunes_store">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://www.raycast.com/" target="_blank">
                            <img src="../assets/images/uses/raycast.webp" alt="Raycast" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Raycast</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                        </ul>
                        <p>Posiblemente mi app favorita en la Mac en este momento. Me permite realizar una infinidad de cosas con un simple <code>⌥+Space</code> y ampliar su funcionalidad con una variedad de extensiones hechas por los usuarios.</p>
                        <a class="btn btn-primary" href="https://www.raycast.com/" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                        <hr>
                        <h4>Mis extensiones favoritas</h4>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a id="install-extension-button" title="Install Cleanshot X Raycast Extension" href="https://www.raycast.com/Aayush9029/cleanshotx#install">
                                    <img height="64" style="height: 64px" src="https://assets.raycast.com/Aayush9029/cleanshotx/install_button@2x.png">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="install-extension-button" title="Install GitHub Raycast Extension" href="https://www.raycast.com/raycast/github#install">
                                    <img height="64" style="height: 64px" src="https://assets.raycast.com/raycast/github/install_button@2x.png">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="install-extension-button" title="Install Linear Raycast Extension" href="https://www.raycast.com/raycast/linear#install">
                                    <img height="64" style="height: 64px" src="https://assets.raycast.com/raycast/linear/install_button@2x.png">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="install-extension-button" title="Install Twitter Raycast Extension" href="https://www.raycast.com/tonka3000/twitter#install">
                                    <img height="64" style="height: 64px" src="https://assets.raycast.com/tonka3000/twitter/install_button@2x.png">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="install-extension-button" title="Install YouTube Raycast Extension" href="https://www.raycast.com/tonka3000/youtube#install">
                                    <img height="64" style="height: 64px" src="https://assets.raycast.com/tonka3000/youtube/install_button@2x.png">
                                </a>
                            </li>
                        </ul>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="javascript:void(0)">
                            <img src="../assets/images/uses/shortcuts.webp" alt="Shortcuts" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Shortcuts</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Utilizo Shortcuts en mi computadora y en mi teléfono para realizar distintos tipos de automatizaciones en mi flujo de trabajo como en mi día a día.</p>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://replay.software/sleeve" target="_blank">
                            <img src="../assets/images/uses/sleeve-2.webp" alt="Sleeve 2" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Sleeve</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                        </ul>
                        <p>Sleeve es una pequeña (pero versátil) app para Mac que sirve para mostrar lo que estoy escuchado actualmente en mi desktop. Es compatible con Apple Music y con Spotify. Lo uso también para <em>scrobblear</em> a Last.fm.</p>
                        <a class="btn btn-primary" href="https://replay.software/sleeve" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://status.lol/" target="_blank">
                            <img src="../assets/images/uses/statuslog.webp" alt="Status.log" class="app-icon rounded img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Status.log</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Esta app me permite actualizar mi estado actual en <a href="https://status.lol/" target="_blank">Statuslog</a>, lo cual hace que automáticamente se refleje mi estatus en el header de mi sitio y en mi estatus de Discord (usando Shortcuts).</p>
                        <a class="btn btn-primary" href="https://status.lol/" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://culturedcode.com/things/" target="_blank">
                            <img src="../assets/images/uses/things.webp" alt="Things" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Things</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge badge-primary">iOS</span>
                            </li>
                        </ul>
                        <p>Es el administrador de tareas que uso, principalmente porque funciona nativamente en mis dispositivos. Antes era usuario de Todoist, pero ahora quise darle la oportunidad a Things.</p>
                        <a class="btn btn-primary" href="https://culturedcode.com/things/" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://code.visualstudio.com/" target="_blank">
                            <img src="../assets/images/uses/visual-studio-code.webp" alt="Visual Studio Code" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9 mb-4">
                        <h3 class="d-inline-block">Visual Studio Code</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                        </ul>
                        <p>Dejé de usar Atom al momento de probar Visual Studio Code (tenía años sin usar software de Microsoft sinceramente) y me encantó. Para los nuevos skills que estoy obteniendo, es un editor de código súper completo, rápido y estable.</p>
                        <p>El único pero que le pongo, es que no es una app nativa en macOS.</p>
                        <a class="btn btn-primary" href="https://code.visualstudio.com/" target="_blank"
                        ><i class="fa-solid fa-download"></i> Descargar
                    </a>
                    </dd>
                    <dt class="col-4 col-lg-2 text-right">
                        <a href="https://app.warp.dev/get_warp" target="_blank">
                            <img src="../assets/images/uses/warp.webp" alt="Warp" class="app-icon img-fluid" loading="lazy">
                        </a>
                    </dt>
                    <dd class="col-8 col-lg-9">
                        <h3 class="d-inline-block">Warp</h3> 
                        <ul class="list-inline d-inline-block my-0 ml-2">
                            <li class="list-inline-item">
                                <span class="badge badge-primary">macOS</span>
                            </li>
                        </ul>
                        <p>La terminal que viene incluida en Visual Studio Code es muy cómoda (y Hyper también lo es), pero Warp es mi terminal favorita.</p>
                        <a class="btn btn-primary" href="https://app.warp.dev/get_warp" target="_blank">
                            <i class="fa-solid fa-download"></i> Descargar
                        </a>
                    </dd>
                </dl>
            </div>
        </div>
    </section>

{% include footer.html %}